[submodule "pack/airline/start/vim-airline"]
	path = pack/airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/bufferline/start/vim-bufferline"]
	path = pack/bufferline/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "pack/fzf/start/fzf.vim"]
	path = pack/fzf/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/lsps/start/async.vim"]
	path = pack/lsps/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/lsps/start/vim-lsp"]
	path = pack/lsps/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/preservim/start/nerdtree"]
	path = pack/preservim/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/preservim/start/tagbar"]
	path = pack/preservim/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/rhysd/start/vim-clang-format"]
	path = pack/rhysd/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "pack/themes/start/awesome-vim-colorschemes"]
	path = pack/themes/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "pack/pack/vimcompletesme/start/VimCompletesMe"]
	path = pack/pack/vimcompletesme/start/VimCompletesMe
	url = https://github.com/vim-scripts/VimCompletesMe.git
